body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1391px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    height: 85px;
    background: #FFFFFF;
}

.header-logo {
    margin-top: 30px;
    height: 24px;
    margin-right: 172px;
}

.menu-list {
    display: flex;
    list-style-type: none; 
    margin: 0;
    padding: 30px 0;
}

.menu-item {
    margin-right: 72px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    height: 24px;
}

.signin {
    margin-left: 211px;
    margin-right: 35px;
    font-weight: 300;
    font-size: 20px;
}

.start-trial {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 13px 26px;
    background: #01996D;
    text-decoration: none;
    margin: auto 0 0 0; 
    margin: -10px;
    border-radius: 4px;
}

.divider {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0;
    color: #D6D6D6;
}

.manage-well {
    min-height: 70vh;
    background: url(/img/bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 175px;
}




.main-title {
    max-width: 440px;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    margin: 0;

    color: #01996D;
}

.subtitle {
    margin-bottom: 0;
    max-width: 420px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

    color: #484848;
}






.howItWorks {
    margin-top: 140px;
}

.howitworks {
    display: inline;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    /* identical to box height, or 38px */


    color: #424242;
}

.understand {
    margin: 0;
    max-width: 550px;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    /* or 79px */
    color: #01996D;
}

.howItWorks-descr {
    margin: 0;
    color: #424242;
    max-width: 500px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

}

.wrapper-how {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 136px;
    align-items: center;
}

.steps-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    grid-gap: 15px;
}

.alivio-step-card-descr {
    margin: 0 0 0 40px;
    max-width: 292px;
}

.alivio-step-card-photo {
    margin-top: 50px;
}

.second {
    margin-top: 180px;
}

.third {
    margin-top: -25px;
}

.alivio-step-card {
    margin-bottom: 51px;
}

.kayla {
    min-height: 70vh;
    background: #245852;
    padding-top: 210px;
    padding-bottom: 176px;
}

.large-container {
    max-width: 1510px;
    margin: 0 auto;
}

.kayla-title {
    max-width: 500px;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    /* or 79px */
    color: #FFFFFF;
    margin: 0;
}

.kayla-subtitle {
    display: inline-block;
    margin-top: 33px;
    font-weight: 600;
    font-size: 20px;
    line-height: 157%;
    /* or 39px */
    color: #FFFFFF;
    margin-bottom: 57px;
}

.lets-start {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #FFFFFF;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    padding: 20px 50px;
    text-decoration: none;
}

.kayla-video {
    float: right;
}




.our-product {
    padding-top: 120px;
    padding-bottom: 242px;
}

.our-product-container {
    float: right;
}

.our-product-subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    /* or 39px */
    color: #424242;
}

.our-product-title {
    max-width: 560px;
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    /* or 79px */
    color: #01996D;
}

.our-product-descr {
    max-width: 500px;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
}

.find {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #FFFFFF;

    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    padding: 20px 50px;
    text-decoration: none;
}

.footer {
    padding-top: 95px;
    padding-bottom: 144px;
    background: #245852;
}

.alivio-footer {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */
    color: #FFFFFF;
}

.why-alivio, .solution, .community, .pricing {
    margin-top: 60px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}